html,body {
  font-family: 'Open Sans', serif;
  font-size: 14px;
  font-weight: 300;
}

.hero.is-success {
  background: #f2f7fa;
}
.hero .nav, .hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}
input {
  font-weight: 300;
}
p {
  font-weight: 700;


}

.container-login100{
	width:100%;
	min-height:100vh;
	display:-webkit-box;
	display:-webkit-flex;
	display:-moz-box;
	display:-ms-flexbox;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
	padding:15px;
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	position:relative;
}